<% provide(:title, "Show Single Video") %>
<% provide(:video_id, Video.find_by(id: @video.id).youtube_id) %>

<ul>
  <li>Title: <%= @video.title %> - Author: <%= @video.author.name %> - Link: <%=link_to @video.title, @video.url %></li>
</ul>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
<iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/<%= yield(:video_id) %>"
  frameborder="0"></iframe>

